<!DOCTYPE html>
{% load i18n %}
{% load url from future %}
<html lang="en" data-ng-app="mater">
  <head>
    <meta charset="utf-8">
    <title>Mater {% block pagetitle %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="Keep an eye on your fleet">
    <meta name="author" content="Chirag Jadwani">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script src="{{ STATIC_URL }}js/json2.js"></script>
    <![endif]-->

    <link href="{{ STATIC_URL }}css/metro-bootstrap.css" rel="stylesheet"/>
    <style type="text/css">
      html, body {
        height: 100%;
        min-height: 580px;
      }
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -37px;
      }
      #nav-spacer {
        margin-top: 54px;
      }
      .dropdown-menu p {
        padding: 3px 20px;
        background-color: #f5f5f5;
        clear: both;
        white-space: nowrap;
      }
      footer {
        border-top: 1px solid #d8d8d8;
        padding-top: 10px;
      }
      footer p {
        margin: 0 0 4.5px;
      }
      @media (max-width: 979px) {
        #wrap {
          margin-bottom: -37px;
          margin-top: -64px;
        }
        #nav-spacer {
          margin-top: 64px;
        }
        .dropdown-menu p {
          background-color: inherit;
        }
        .navbar-fixed-top {
          margin-bottom: 10px !important;
        }
      }
      @media (max-height: 579px) {
        #wrap {
          min-height: 580px;
        }
      }
      [ng-cloak] {
        display: none;
      }
      /* Bootstrap bug-fix */
      table.table {
        max-width: none;
      }
      select.select2-offscreen {
        width: auto;
      }
      .select2-container-multi .select2-choices .select2-search-field input.select2-input {
        padding: 0 5px;
      }
      .modal .modal-header {
        margin-bottom: 10px;
      }
      .modal .modal-header h4 {
        padding-bottom: 0;
      }
    </style>
    {% block styles %}
    {% endblock %}
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}libs/angular-ui/angular-ui.min.css" rel="stylesheet"/>
  </head>

  <body>
    <div class="navbar navbar-fixed-top{% if admin_console %} navbar-inverse{% endif %}">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
            <a class="brand" href="{% url 'home' %}">
              <div style="background: url('{{STATIC_URL}}img/om petroleum logo.png') no-repeat; height: 24px;">
                <span style="margin-left: 30px; font-size: 29px;">MATER</span>
              </div>
            </a>
          <div class="nav-collapse collapse">
            {% if admin_console %}
            <ul class="nav pull-left">
              <li class="divider-vertical"></li>
              <li><span class="brand"><small>Admin Console</small></span></li>
            </ul>
            {% endif %}
            {% if user.is_authenticated %}
            <ul class="nav pull-right">
              <li class="dropdown" role="menu">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-cog"></i>
              </a>
              <ul class="dropdown-menu">
                <li><p><b>{{ user.get_full_name|default:user.username }}</b></p></li>
                {% block main-menu-extra %}{% endblock %}
                <li class="divider"></li>
                {% if role = "OWNER" %}
                  <li><a href="{% url 'settings' %}"><i class="icon-wrench"></i> {{ _("Settings") }}</a></li>
                {% endif %}
                <li><a href="{% url "django.contrib.auth.views.logout" %}"><i class="icon-off"></i> {{ _("Logout") }}</a></li>
              </ul>
              </li>
            </ul>
            {% endif %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div id="wrap">
      <div class="container-fluid">
        <div id="nav-spacer"></div>
        {% block content %}{% endblock %}
      </div> <!-- /container -->
    </div> <!-- /wrap -->
    <footer>
      <div class="container-fluid">
        <p>
          <span class="pull-right">&copy; <a href="http://ompetroleum.com/">Om Petroleum</a></span>
        </p>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular-resource.min.js"></script>
    <script src="{{ STATIC_URL }}libs/angular-ui-bootstrap-tpls-0.2.0.js"></script>
    <script src="{{ STATIC_URL }}libs/angular-ui/angular-ui.min.js"></script>
    <script src="{{ STATIC_URL }}libs/angular-ui/angular-ui-ieshiv.min.js"></script>
    <script src="{{ STATIC_URL }}js/mater.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.bootstrap-growl.min.js"></script>
    <script src="{{ STATIC_URL }}libs/jquery.cookie.js"></script>
    <script>
    </script>
    {% block scripts %}{% endblock %}
  </body>
</html>
