{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block styles %}
    <style type="text/css">
      #map-container img {
          max-width: none;
      }
  </style>
{% endblock %}
{% block scripts %}
    <script src="https://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=false"></script>
    <script src="{{ STATIC_URL }}/js/livemap.js"></script>
    <script>
      mater.urls.update_assets = '{% url "update_assets" %}';
      mater.urls.get_initial_logs = '{% url "get_initial_logs" %}';
      mater.livemap.initialize();
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            <ul class="breadcrumb">
                <li><a href="{% url 'home' %}">Dashboard</a> <span class="divider"> / </span></li>
                <li class="active">Live Map</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div id="map-container" style="height: 500px; max-height: 500px;"></div>
        </div>
    </div>
{% endblock %}
