{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block styles %}
<style type=text/css>
  .red {
    border-bottom: 1px dotted red;
    color: #808080;
  }
  form {
    background-color: #f8f8f8;
  }
</style>
{% endblock %}

{% block content %}
  <div class="row-fluid">
    <div class="span2 hidden-phone"></div>
    <div class="span8">
      <div class="hidden-phone" style="margin-top: 30px"></div>
      <form method="post" action="." class="form-horizontal" >
        <legend>&nbsp;Login</legend>
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="control-group">
          <label class="control-label">
            <span class="label label-important">{{ _("Error") }}</span>
          </label>
          <div class="controls">
            <div style="margin-top: 6px;">
              <b class="red">{{ form.non_field_errors|join:'\n'|linebreaksbr }}</b>
            </div>
          </div>
        </div>
          {% if form.error_messages.multiple_login in form.non_field_errors %}
          <div class="control-group error">
            <div class="controls">
              <label class="checkbox">
                {{ form.close_other_sessions }} {{ form.close_other_sessions.label }}
              </label>
            </div>
          </div>
          {% endif %}
        {% endif %}
        <div class="control-group{% if form.username.errors %} error{% endif %}">
          <label class="control-label" for="id_username">{{ form.username.label }}</label>
          <div class="controls">
            {{ form.username }}
            {% if form.username.errors %}
              <span class="help-inline">
                {{ form.username.errors|join:"\n"|linebreaksbr }}
              </span>
            {% endif %}
          </div>
        </div>
        <div class="control-group{% if form.password.errors %} error{% endif %}">
          <label class="control-label" for="id_password">{{ form.password.label }}</label>
          <div class="controls">
            {{ form.password }}
            {% if form.password.errors %}
              <span class="help-inline">
                {{ form.password.errors|join:"\n"|linebreaksbr }}
              </span>
            {% endif %}
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <label class="checkbox">
              {{ form.remember_me }} {{ form.remember_me.label }}
            </label>
          </div>
        </div>
        <div class="form-actions" style="margin-bottom: 0">
            <button type="submit" class="btn">Login</button>
        </div>

        <input type="hidden" name="next" value="/" />
      </form>
    </div>
  </div>
{% endblock %}
