{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block content %}
  <div class="well">
    <h4>{{ _("Thank you for using Mater") }}</h4>
  </div>
  <a href="{% url "home" %}">{{ _("Login again") }}</a>
{% endblock %}
