<table class="table table-bordered table-condensed" ng-cloak>
  <thead>
    <tr>
      <th>Name</th>
      <th>Assets</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users">
      <td style="width: 30%">
        <div data-inline-edit="user.first_name" input-class="input-medium" required></div>
        <div data-inline-edit="user.last_name" input-class="input-medium"  required></div>
      </td>
      <td style="width: 30%">
        <span ng-hide="user.assets_editing"
              ng-click="user.assets_editing = true"
              ng-class="{'muted': !user.assets}"
              class="editable" title="click to edit">
          {[{get_asset_names(user.assets) || "---"}]}
        </span>
        <form class="form-inline select2-form"
              ng-show="user.assets_editing"
              ng-submit="user.assets_editing=false">
          <select multiple select2=''
                  ng-model="user.assets"
                  on-blur="user.assets_editing=false"
                  style="width: 100%;"
                  ng-options="pk as name for (pk, name) in all_assets">
          </select>
          <button class="btn btn-small"
                  type="submit"
                  ng-click="user.assets_editing = false">
            <span class="icon-ok"></span>
          </button>
        </form>
      </td>
      <td style="width: 25%"><div data-inline-edit="user.email" input-class="input-medium" type="email"></div></td>
      <td style="width: 15%"><div data-inline-edit="user.phone" input-class="input-small" maxlength="10"></div></td>
    </tr>
  </tbody>
</table>
<small>Click on any of the values to edit</small>
<a  ng-click="save_data()"
    class="btn btn-primary pull-right">
  <i class="icon-ok icon-white"></i>&ensp;Save</a>
<a  ng-click="modalUserAddOpen = true"
    class="btn pull-right"
    style="margin-right: 15px;">
  <i class="icon-plus"></i>&ensp;Add
</a>
<div modal="modalUserAddOpen" close="modalUserAddCancel()">
  <div class="modal-header">
    <button type="button" class="close" ng-click="modalUserAddCancel()" aria-hidden="true">&times;</button>
    <h4>Add User</h4>
  </div>
  <div class="modal-body">
    <form name="addForm" ng-submit="modalUserAddSave()">
      <div class="container-fluid" style="padding: 0">
        <div class="row-fluid">
          <div class="span6">
            <div class="control-group" ng-class="{error: addForm.username.$invalid && !addForm.username.$pristine}">
              <div class="controls">
                <input ng-model="addFormData.username"
                       name="username"
                       type="text"
                       ng-maxlength=30
                       ng-minlength=3
                       class="input-block-level"
                       placeholder="User Id"
                       value=""
                       required />
              </div>
            </div>
          </div>
          <div class="span6">
            <div class="control-group" ng-class="{error: addForm.password.$invalid && !addForm.password.$pristine}">
              <div class="controls">
                <input ng-model="addFormData.password"
                       name="password"
                       type="password"
                       ng-minlength=12
                       ng-change="showPasswordConfirm = true"
                       class="input-block-level"
                       placeholder="Password"
                       value=""
                       required />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid" style="padding: 0" ng-show="showPasswordConfirm">
        <div class="row-fluid">
          <div class="span6">
          </div>
          <div class="span6">
            <div class="control-group"
                 ng-class="{error: addForm.password2.$invalid && addForm.password2.$dirty}">
              <div class="controls">
                <input ng-model="addFormData.password2"
                       name="password2"
                       type="password"
                       ng-minlength=12
                       ui-validate="{passwordsMatch: '$value == addFormData.password'}"
                       on-blur="showPasswordConfirm = !addForm.password2.$valid"
                       class="input-block-level"
                       placeholder="Confirm Password"
                       value=""
                       required />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid" style="padding: 0">
        <div class="row-fluid">
          <div class="span6">
            <div class="control-group"
                 ng-class="{error: addForm.first_name.$invalid && addForm.first_name.$dirty}">
              <div class="controls">
                <input ng-model="addFormData.first_name"
                       name="first_name"
                       type="text"
                       ng-maxlength=30
                       class="input-block-level"
                       placeholder="First name"
                       value=""
                       required />
              </div>
            </div>
          </div>
          <div class="span6">
            <div class="control-group" ng-class="{error: addForm.last_name.$invalid && !addForm.last_name.$pristine}">
              <div class="controls">
                <input ng-model="addFormData.last_name"
                       name="last_name"
                       type="text"
                       ng-maxlength=30
                       class="input-block-level"
                       placeholder="Last name"
                       value=""
                       required />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid" style="padding: 0">
        <div class="row-fluid">
          <div class="span6">
            <div class="control-group" ng-class="{error: addForm.email.$invalid && !addForm.email.$pristine}">
              <div class="controls">
                <input ng-model="addFormData.email"
                       name="email"
                       type="email"
                       ng-maxlength=75
                       class="input-block-level"
                       placeholder="Email"
                       value="" />
              </div>
            </div>
          </div>
          <div class="span6">
            <div class="control-group" ng-class="{error: addForm.phone.$invalid && !addForm.phone.$pristine}">
              <div class="controls">
                <input ng-model="addFormData.phone"
                       name="phone"
                       type="text"
                       ng-maxlength=20
                       class="input-block-level"
                       placeholder="Phone No."
                       value="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <select multiple select2=''
                  ng-model="addFormData.assets"
                  class="input-block-level"
                  placeholder="Assets"
                  ng-options="pk as name for (pk, name) in all_assets">
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <small class="pull-left muted">Password should have at least 12 characters</small>
    <button class="btn btn-link cancel" ng-click="modalUserAddCancel()">Cancel</button>
    <button class="btn btn-success"
            ng-disabled="!addForm.$valid"
            ng-click="modalUserAddSave()">
      <i class="icon-plus icon-white"></i> <b>Add</b>
    </button>
  </div>
</div>
