<table class="table table-bordered table-condensed" style="width: 50%" ng-cloak>
  <thead>
    <tr>
      <th>Name</th>
      <th>Speed Limit</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="asset in assets">
      <td>
        <div data-inline-edit="asset.name" input-class="input-medium" required></div>
      </td>
      <td>
        <div data-inline-edit="asset.speed_threshold" input-class="input-small" required></div>
      </td>
    </tr>
  </tbody>
</table>
<div style="width: 50%">
  <small>Click on any of the values to edit</small>
  <a ng-click="save_data()" class="btn btn-primary pull-right">Save</a>
</div>
