    <h4>
      {{ _("Routes") }}
      <button id="gen-routes" ng-show="show_map" class="btn btn-small header-btn">Auto Generate Routes</button>
    </h4>
    <ul class="unstyled editable-list">
      <li ng-repeat="route in routes | orderBy:'name'" ng-mouseenter="highlightPolyline(route)" ng-mouseleave="unhighlightPolyline(route)">
        {[{get_route_description(route)}]}
        <span class="edit-buttons">
          <button class="btn btn-small btn-icon" ng-click="delete_route(route); $event.stopPropagation();" ng-disabled="editing">
            <i class="icon-trash"></i>
          </button>
        </span>
      </li>
    </ul>
