    <h4>
      {{ _("Places") }}
      <button ng-disabled="editing" ng-click="create_new()" class="btn btn-small header-btn"><i class="icon-plus"></i> Add</button>
      <button ng-click="generateSuggested()" ng-hide="show_suggested" class="btn btn-small header-btn">Auto Generate Places</button>
      <div class="label label-inverse header-btn" ng-show="show_suggested">
          <a ng-click="closeSuggestedPlaces()" class="close" href="#">&times;</a>&ensp;{{_("Suggested Places")}}
      </div>
    </h4>
    <ul class="unstyled editable-list" ng-hide="editing">
      <li ng-repeat="place in places | filter:suggestedFilter | orderBy:'fields.name'" ng-click="start_editing(place)" ng-mouseenter="highlightPolygon(place)" ng-mouseleave="unhighlightPolygon(place)">
        {[{place.fields.name}]} ({[{get_place_category_description(place.fields.category)}]})
        <span class="edit-buttons">
          <button class="btn btn-small btn-icon" ng-click="delete_place(place); $event.stopPropagation();" ng-disabled="editing">
            <i class="icon-trash"></i>
          </button>
        </span>
      </li>
    </ul>
    <form name="places_form" ng-show="editing" ng-submit="form_submit()" style="display: none">
      <div class="control-group" ng-class="{error: places_form.name.$invalid}">
        <label class="control-label">{{ _("Name") }}</label>
        <div class="controls">
          <input ng-model="form_place_name" name="name" type="text" class="input-block-level" placeholder="name" value="" required />
        </div>
      </div>
      <div class="container-fluid" style="padding: 0">
        <div class="row-fluid">
          <div class="span6">
            <div class="control-group" ng-class="{error: places_form.type.$invalid}">
              <label class="control-label">{{ _("Type") }}</label>
              <div class="controls">
                <select ng-model="form_place_category" class="input-block-level" name="type" required>
                  <option value="">{{ _("Select Type") }}</option>
                  {% for item in Place.CATEGORY_CHOICES %}
                  <option value="{{ item.0 }}">{{ item.1 }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
          <div class="span6">
            <div class="control-group">
              <label class="control-label">{{ _("Icon") }}</label>
              <div class="controls">
                <select ng-model="form_place_icon" class="input-block-level" name="type" required>
                  {% for item in Place.PLACE_ICON_CHOICES %}
                  <option value="{{ item.0 }}">{{ item.1 }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">{{ _("Area") }}</label>
        <div class="controls">
          <a ng-disabled="editing_on_map" ng-click="start_editing_map()" class="btn">{{ _("Edit on Map") }}</a>
        </div>
      </div>
      <div ui-if="parkings[place_editing.pk]">
        <b>Asset Parkings</b>
        <table class="table table-condensed table-bordered">
          <thead>
            <tr>
              <th>Time</th>
              <th>Asset</th>
              <th>Duration</th>
          </thead>
          <tbody>
            <tr ng-repeat="parked in parkings[place_editing.pk]">
              <td>{[{ parked.when }]}</td>
              <td>{[{ parked.asset }]}</td>
              <td>{[{ parked.duration }]}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="form-actions">
        <a class="btn btn-primary" ng-click="form_submit()" ng-disabled="isClean() || places_form.$invalid"><i class="icon-ok icon-white"></i> {{ _("Save") }}</a>
        <a class="btn btn-link" ng-click="stop_editing()">Cancel</a>
      </div>
    </form>
