{% extends "base.html" %}
{% load url from future %}

{% block scripts %}
<script src="{{ STATIC_URL }}js/places.js"></script>
<script src="{{ STATIC_URL }}js/routes.js"></script>
<script src="{{ STATIC_URL }}js/users.js"></script>
<script src="{{ STATIC_URL }}js/assets.js"></script>
<script src="{{ STATIC_URL }}js/settings_map.js"></script>
<script src="{{ STATIC_URL }}js/settings_tabs.js"></script>

<script src="{{ STATIC_URL }}libs/select2-3.3.2/select2.min.js"></script>
<script src="{{ STATIC_URL }}js/moment.min.pretty.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.9&sensor=false&libraries=drawing"></script>
<script>
  mater.urls.get_locations = '{% url "get_locations" %}';
  mater.urls.put_locations = '{% url "put_locations" %}';
  mater.urls.get_users = '{% url "get_users" %}';
  mater.urls.put_users = '{% url "put_users" %}';
  mater.urls.get_assets = '{% url "get_assets" %}';
  mater.urls.put_assets = '{% url "put_assets" %}';
  mater.urls.get_routes = '{% url "get_routes" %}';
  mater.urls.put_routes = '{% url "put_routes" %}';
  mater.urls.suggest_routes = '{% url "suggest_routes" %}';
  mater.urls.suggest_places = '{% url "suggest_places" %}';
  get_place_category_description = function (code) {
    return {
      {% for item in Place.CATEGORY_CHOICES %}
      {{ item.0 }}: '{{ item.1}}',
      {% endfor %}
    }[code];
  };
  //mater.places_map.initialize();
  mater.settings_map.initialize();
  //$('.nav-tabs a[href="#routes"]').click(function () {
    //    mater.routes_map.update_map();
    //});
  var generate_error_alert = function () {
    alert('There was an error while finding suggested routes and places.')
  };
  $('#gen-routes').click(function () {
    var jqxhr = $.getJSON(
      mater.urls.suggest_routes,
      function (data) {
        if (data.ok) {
          var places_scope = angular.element('#places').scope()
            , routes_scope = angular.element('#routes').scope();
          places_scope.$apply(function () {places_scope.load_data();})
          routes_scope.$apply(function () {routes_scope.load_data();})
          alert('Routes generated.')
        } else {
          generate_error_alert();
        }
      }
    )
    .error(generate_error_alert);
  });
  /*
  $('#gen-places').click(function () {
    var jqxhr = $.getJSON(
      mater.urls.suggest_places,
      function (data) {
        if (data.ok) {
          var places_scope = angular.element('#places').scope()
            , routes_scope = angular.element('#routes').scope();
          places_scope.$apply(function () {places_scope.load_data();})
          routes_scope.$apply(function () {routes_scope.load_data();})
          alert('Places generated.')
        } else {
          generate_error_alert();
        }
      }
    )
    .error(generate_error_alert);
  });
  */
</script>
{% endblock %}

{% block styles %}
{% if role = "OWNER" %}
<link href="{{ STATIC_URL }}libs/select2-3.3.2/select2.css" rel="stylesheet"/>
{% endif %}

<style>
  .btn-small.btn-icon {
    padding: 0 9px;
  }
  .settings h4 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .settings form[name="places_form"] {
    margin: 0;
    padding: 20px;
    height: 340px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #f8f8f8;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .settings form[name="places_form"] .form-actions {
    background-color: inherit;
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  ul.editable-list {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    overflow-y: scroll;
    height: 380px;
  }
  ul.editable-list li {
    background-color: #f8f8f8;
    border-bottom: 1px dotted #d8d8d8;
    padding: 10px 5px;
    position: relative;
  }
  ul.editable-list li:hover {
    background-color: #fff;
    cursor: pointer;
  }
  ul.editable-list li .edit-buttons {
    display: inline-block;
    position: absolute;
    right: 10px;
  }
  #map-container img {
    max-width: none;
  }
  .editable {
    cursor: pointer;
    line-height: 31px;
    padding: 3px 0;
  }
  .editable:hover {
    background-color: #f5f5a8;
  }
  .settings form.form-inline {
    margin-bottom: 0;
    display: inline-block;
  }
  .settings form.form-inline.select2-form {
    display: table-row;
  }
  .settings form.form-inline.select2-form .select2-container {
    display: table-cell;
  }
  .settings form.form-inline.select2-form button {
    display: table-cell;
    margin-left: 5px;
  }
  .settings #users table input[type="text"],
  .settings #users table input[type="email"] {
    padding: 3px 2px;
  }
  .settings form.form-inline div.chzn-container {
    vertical-align: bottom;
  }
  body {
    min-width: 800px !important;
  }
  .header-btn {
    float: right;
    margin-left: 15px;
  }
  .label.label-inverse .close {
    float: left;
    color: #888;
    line-height: 16px;
    opacity: 1;
    filter: alpha(opacity=100);
  }
  .label.label-inverse .close:hover {
    color: #d8d8d8;
  }
</style>
{% endblock %}

{% block content %}
  <div class="tabbable" ng-controller="SettingsTabsCtrl" ng-cloak>
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#places" data-toggle="tab" ng-click="show_map = true">{{ _("Places") }}</a>
      </li>
      <li>
        <a href="#routes" data-toggle="tab" ng-click="show_map = true">{{ _("Routes") }}</a>
      </li>
      {% if role = "OWNER" %}
      <li>
        <a href="#users" data-toggle="tab" ng-click="show_map = false">{{ _("Users") }}</a>
      </li>
      <li>
        <a href="#assets" data-toggle="tab" ng-click="show_map = false">{{ _("Assets") }}</a>
      </li>
      {% endif %}
    </ul>
    <div class="row-fluid">
      <div class="span4" ng-class="{span4: show_map, span12: !show_map}">
        <div class="tab-content settings">
          <div class="tab-pane active" id="places" ng-controller="PlacesCtrl">
            {% include "settings_places.html" %}
          </div>
          <div class="tab-pane" id="routes" ng-controller="RoutesCtrl">
            {% include "settings_routes.html" %}
          </div>
          {% if role = "OWNER" %}
          <div class="tab-pane" id="users" ng-controller="UsersCtrl">
            {% include "settings_users.html" %}
          </div>
          <div class="tab-pane" id="assets" ng-controller="AssetsCtrl">
            {% include "settings_assets.html" %}
          </div>
          {% endif %}
        </div>
      </div>
      <div class="span8" ng-show="show_map">
        <div id="map-container" style="border: 1px solid; height: 440px"></div>
      </div>
    </div>
  </div>
{% endblock %}
